<!DOCTYPE html>
<html lang="en">
<head>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/all.css} "/>
    <script th:src="@{/webjars/jquery/3.6.3/jquery.min.js}"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4>List employee</h4>
<h4>Count: <span th:text="${employees.size()}"></span></h4>
<a href="employee_add" class="btn btn-primary btn-sm"> Add employee</a>
    <table class="table table-hover table-striped-columns table-bordered" >
        <thead>
<!--      tr  dong -->
        <tr>
<!--          th cot -->
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Username</th>
            <th>password</th>
            <th>address</th>
            <th>role</th>
            <th>Department Name</th>
            <th>Action</th>

        </tr>
        </thead>
        <tbody>
<!--        dung thymeleaf: them "th"(dung trong bat ky the nao cua Html-->
<!--        chay vong lap;  th:each-->
<!--        hient hi du lieu: th:text-->
<!--        if: th:if -->
        <tr th:each="obj : ${employees}">
<!--            -->
            <td th:text="${obj.id}">Id</td>
            <td th:text="${obj.fullName}">Name</td>
            <td>
                <span th:text="${obj.email}" th:if="${obj.email != ''}">Email</span>
                <span th:text="${'add email'}" th:if="${obj.email == ''}">Email</span>
            </td>
            <td th:text="${obj.phone}">Phone</td>
            <td th:text="${obj.username}">Username</td>
            <td th:text="${obj.password}">Password</td>
            <td th:text="${obj.address}">Address</td>
            <td th:text="${obj.role}">Role</td>
            <td th:text="${obj.department != null ? obj.department.name : 'No department'}">Department Name</td>
            <td><a th:href="'employee-delete/'+ ${obj.id}" class="btn btn-danger btn-sm">Delete </a> </td>
        </tr>
        </tbody>
    </table>
<h4>List Department</h4>
<h4>Count: <span th:text="${departments.size()}"></span></h4>
<a href="department_add" class="btn btn-primary btn-sm">Add department</a>
<table class="table table-hover table-striped-columns table-bordered" >
<thead>
<th>id</th>
<th>department name</th>
<th>Action</th>
</thead>
    <tbody>
    <tr th:each="obj : ${departments}">
        <!--            -->
        <td th:text="${obj.id}">Id</td>
        <td th:text="${obj.name}">Name</td>
        <td><a th:href="'department-delete/'+ ${obj.id}" class="btn btn-danger btn-sm">Delete </a> </td>
    </tr>
    </tbody>
</table>
<!--        <input type="text" value="ngoc 2" />-->
<!--          <br>-->
<!--<input type="text" th:value="${name}" th:placeholder="'vui long nhap ten '+ ${name}"/>-->
<!--<a href="employee_list.html/1">xem chi tiet id = 1</a>-->
</body>
</html>
